apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    api:
      enabled: true
      dashboard: true
      insecure: true
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: Host(`traefik.gitops.com`)
        entryPoints: ["web","websecure"]
    ports:
      gitlab-ssh:
        port: 22
        exposedPort: 22
        protocol: TCP
