*
!p1/
!p2/
!p3/
!.gitignore

p1/*
p2/*
p3/*

!p1/confs
!p1/scripts
!p1/Vagrantfile
!p2/confs
!p2/scripts
!p2/Vagrantfile
!p3/confs
!p3/scripts
!p3/Vagrantfile

p1/confs/*
p2/confs/*
p3/confs/*
!p1/confs/*.service
!p2/confs/*.service
!p2/confs/*.yaml
!p3/confs/*.service

p1/scripts/*
p2/scripts/*
p3/scripts/*
!p1/scripts/*.sh
!p2/scripts/*.sh
!p3/scripts/*.sh