apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    api:
      enabled: true
      dashboard: true
      insecure: true
    ingressRoute:
      dashboard:
        enabled: true
        matchRule: PathPrefix(`/dashboard`) || PathPrefix(`/api`)
        entryPoints: ["web"]
    # Optional: If you want to see the logs to debug
    logs:
      general:
        level: DEBUG
